<div class="container">
    <mat-form-field>
      <input matInput placeholder="glutenHumedo" name="glutenHumedo" [(ngModel)]="this.laboratorios.selected.glutenHumedo">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="glutenIndex" name="glutenIndex" [(ngModel)]="this.laboratorios.selected.glutenIndex">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="granosBrotados" name="granosBrotados" [(ngModel)]="this.laboratorios.selected.granosBrotados">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="granosDanados" name="granosDanados" [(ngModel)]="this.laboratorios.selected.granosDanados">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="granosPartidos" name="granosPartidos" [(ngModel)]="this.laboratorios.selected.granosPartidos">
    </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="humedad" name="humedad" [(ngModel)]="this.laboratorios.selected.humedad">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="impurezas" name="impurezas" [(ngModel)]="this.laboratorios.selected.impurezas">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="indiceCaida" name="indiceCaida" [(ngModel)]="this.laboratorios.selected.indiceCaida">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="nombreAnalista" name="nombreAnalista" [(ngModel)]="this.laboratorios.selected.nombreAnalista">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="nombreResponsable" name="nombreResponsable" [(ngModel)]="this.laboratorios.selected.nombreResponsable">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="numMuestra" name="numMuestra" [(ngModel)]="this.laboratorios.selected.numMuestra">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="pesoGrano" name="pesoGrano" [(ngModel)]="this.laboratorios.selected.pesoGrano">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="pesoHelectolitro" name="pesoHelectolitro" [(ngModel)]="this.laboratorios.selected.pesoHelectolitro">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="valorSedimento" name="valorSedimento" [(ngModel)]="this.laboratorios.selected.valorSedimento">
      </mat-form-field>
    <button mat-flat-button color="primary" (click)="onSaveForm()">
      Guardar
     
    </button>
  </div>
  
