<div *ngIf="!load" >
  <mat-spinner style="margin:0 auto;"></mat-spinner>
</div>
<div *ngIf="load">
  <label style="margin-left: 400px;">Niveles de Humedad Permitidos (%)</label>
  <app-graf-lab></app-graf-lab>
</div>
  <div>
<mat-form-field>
  <mat-label></mat-label>
  <h1>Laboratorio</h1>
  <div>
    <mat-icon style="margin-top: 40px; margin-left: 160px; position: absolute;">search</mat-icon><br><input matInput (keyup)="filtrar($event)" placeholder="buscar" aria-invalid="false" aria-required="false" >
</div>
<div>
  <button style="margin-top: 40px; margin-left: 920px;" mat-flat-button color="accent" (click)="newLaboratorios()" >
  Agregar Informe
  <mat-icon>save</mat-icon>
</button></div>

</mat-form-field>
<div class="mat-elevation-z8" id="htmlData4" >
  <table  mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort style="width: 1700;">

    <ng-container matColumnDef="glutenHumedo" >
      <th mat-header-cell *matHeaderCellDef style="width: 100px;">Gl(H)</th>
      <td mat-cell *matCellDef="let element"> {{element.glutenHumedo}} </td>
    </ng-container>

    <ng-container matColumnDef="glutenIndex" style="width: auto;">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">Gl(I)</th>
      <td mat-cell *matCellDef="let element"> {{element.glutenIndex}}</td>
    </ng-container>

    <ng-container matColumnDef="granosBrotados" style="width: auto;">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">Brotados</th>
      <td mat-cell *matCellDef="let element"> {{element.granosBrotados}}</td>
    </ng-container>

    <ng-container matColumnDef="granosDanados">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">Dañados</th>
      <td mat-cell *matCellDef="let element"> {{element.granosDanados}}</td>
    </ng-container>

    <ng-container matColumnDef="granosPartidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">Partidos</th>
      <td mat-cell *matCellDef="let element"> {{element.granosPartidos}}</td>
    </ng-container>

    <ng-container matColumnDef="granosPuntaNegra">
      <th mat-header-cell *matHeaderCellDef mat-sort-headerstyle="width: 120px;">Punta Negra</th>
      <td mat-cell *matCellDef="let element"> {{element.granosPuntaNegra}}</td>
    </ng-container>
    <ng-container matColumnDef="humedad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 120px;">Humedad</th>
      <td mat-cell *matCellDef="let element"> {{element.humedad}}</td>
    </ng-container>
    <ng-container matColumnDef="impurezas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">Impurezas</th>
      <td mat-cell *matCellDef="let element"> {{element.impurezas}}</td>
    </ng-container>
    <ng-container matColumnDef="indiceCaida">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">Indice Caida</th>
      <td mat-cell *matCellDef="let element"> {{element.granosPuntaNegra}}</td>
    </ng-container>
    <ng-container matColumnDef="nombreAnalista">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">Analista</th>
      <td mat-cell *matCellDef="let element"> {{element.nombreAnalista}}</td>
    </ng-container>
    <ng-container matColumnDef="nombreResponsable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">Responsable</th>
      <td mat-cell *matCellDef="let element"> {{element.nombreResponsable}}</td>
    </ng-container>
    <ng-container matColumnDef="numMuestra">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">Muestra</th>
      <td mat-cell *matCellDef="let element"> {{element.numMuestra}}</td>
    </ng-container>
    <ng-container matColumnDef="pesoGrano">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">Peso(G)</th>
      <td mat-cell *matCellDef="let element"> {{element.pesoGrano}}</td>
    </ng-container>
    <ng-container matColumnDef="pesoHelectolitro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 80px;">Peso(H)</th>
      <td mat-cell *matCellDef="let element"> {{element.pesoHelectolitro}}</td>
    </ng-container>
    <ng-container matColumnDef="valorSedimento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">Sedimento</th>
      <td mat-cell *matCellDef="let element"> {{element.valorSedimento}}</td>
    </ng-container>
 
    <ng-container matColumnDef="actions" >
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element"style="width: 250px;">
        <button mat-flat-button color="primary" (click)="onEdit(element)">
          Editar
          <mat-icon>edit</mat-icon>
        </button>&nbsp;
        <button mat-flat-button color="warn" (click)="onDelete(element.id)">
          Eliminar
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <br>
  
</div>
  <div>
    <button class="btn col col-lg-2 btn-danger btn-block ml-2" (click)="downloadPDF4()">Download PDF</button>
  </div>
  <br>
  <div>
    <button (click)="exportAsXLSX()"
    class="btn col col-lg-2 btn-info btn-block ml-2">
      <mat-icon>get_app</mat-icon>Download Excel</button>
  </div>
</div>
