
<h1 class="text-center mt-4" style="font-family: Impact, Charcoal, sans-serif;">Bienvenido a Molino Malleco</h1>


<ngb-carousel class="text-center mt-4 mb-3">
    <ng-template *ngFor="let pelicula of peliculas" ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="{{pelicula.img}}" width="1125" height="550" alt="A 200x200 image" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <div class="card">
          <div class="card-body">
            <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color:midnightblue;" >{{pelicula.name}}</h1>
            <h3 style="text-align:center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif ; color:navy;">{{pelicula.desc}}</h3>
          </div>
        </div>
        
        
      </div>
    </ng-template>
</ngb-carousel>

<!-- Footer -->
<footer class="page-footer font-small blue bgdark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://molinomalleco.cl/"> www.molinomalleco.cl</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<div [ngStyle]="{backgroundImage:'url(assets\wallpaper.jpg)'}" >
</div>
